<form class='{{cssClass}}' autocomplete='off'>
    <header class='sheet-header'>
        <img class='profile-img'
             src='{{item.img}}'
             data-edit='img'
             title='{{item.name}}'/>
        <div class='header-fields'>
            <h1 class='charname'>
                <input name='name'
                       type='text'
                       value='{{item.name}}'
                       placeholder='Name'/>
            </h1>
            <div class='grid grid-2col'>
                <div class='resource'>
                    <label class='resource-label'>Price</label>
                    <input type='number'
                           name='system.price'
                           value='{{system.price}}'
                           data-dtype='Number'/>
                </div>
            </div>
        </div>
    </header>

    {{! Sheet Tab Navigation }}
    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='description'>Details</a>
    </nav>

    {{! Sheet Body }}
    <section class='sheet-body'>
        {{! Description Tab }}
        <div class='tab' data-group='primary' data-tab='description'>
            <div class='resource'>
                <div class="grid grid-5col">
                    <div class="grid-span-6">
                        <label>Details</label>
                        <input type="text"
                               name="system.details"
                               value="{{system.details}}"
                               data-dtype="String"/>
                    </div>
                    <div class="grid-span-2">
                        <label>Type</label>
                        <div>
                            {{formInput fields.type value=system.type}}
                        </div>
                    </div>
                    <div class="grid-span-2">
                        <label>Range</label>
                        <div>
                            {{formInput fields.range value=system.range}}
                        </div>
                    </div>
                    <div class="grid-span-2">
                        <label>Damage</label>
                        <input type="text"
                               name="system.damage"
                               value="{{system.damage}}"
                               data-dtype="String"/>
                    </div>
                </div>
            </div>
            <h3>Notes:</h3>
            {{! Editors must receive enriched text data from getData to properly handle rolls }}
            {{editor
                    enrichedDescription
                    target='system.description'
                    engine='prosemirror'
                    button=true
                    editable=editable
            }}
        </div>
    </section>
</form>