<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab details">
            {{!-- Attributes Tab --}}
            <section class="grid grid-2col">
                <section class="main grid-span-2">
                    <div class="grid grid-5col">
                        <div class="grid-span-1">
                            <label>Ranks</label>
                            <input type="number"
                                   name="system.ranks"
                                   value="{{system.ranks}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="grid-span-4">
                            <label>Specialization</label>
                            <input type="text"
                                   name="system.specialization"
                                   value="{{system.specialization}}"
                                   data-dtype="String"/>
                        </div>
                    </div>
                </section>
                <section class="main grid-span-2">
                    <h3>Notes:</h3>
                    {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
                    {{editor enrichedDescription target="system.notes" engine="prosemirror" button=true
                             editable=editable}}
                </section>
            </section>
        </div>
    </section>
</form>